body {
    background-color: #e3f6f5;
    font: normal 1.1rem 'Montserrat', sans-serif;
    padding-top: 7.5rem;
    min-height: 100vh;
}

/*Header*/

.navbar-brand {
    margin-left: 20px;
}

.navbar-collapse {
    margin-right: 20px;
    
}

.nav-link {
    padding: 20px 10px;
}

.enlaces-menu {
    list-style-type: none;
}

.navbar-toggler {
    background-color: #272343;
    border: none;
    width: 47px;
    height: 34px;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #e3f6f5;
    margin-bottom: 5px;
}

.enlaces-menu .enlaces-menu-item {
    display: inline-block;
}

.enlaces-menu li span {
    color: #272343;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid #272343;
    
}

  /* Animacion menu principal */
.enlaces-menu li a {
    display: inline-block;
    color: #272343;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 10px 20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

  .enlaces-menu li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: #272343;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .enlaces-menu li a:hover:before, 
  .enlaces-menu li a:focus:before, 
  .enlaces-menu li a:active:before {
    left: 0;
    right: 0;
  }

  /***Homepage***/

.carousel-caption h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.cards-home {
    margin-top: 30px;
}

.card-body {
    height: 220px;
}

.card-btn {
    background-color: #bae8e8;
    color: #272343;
    border: none;
}

.card-btn:hover {
    background-color: #272343;
}

.card-btn-cabanas {
    margin-top: 40px;
}

.card-btn-cafe-jardin {
    margin-top: 20px;
}

.subtitulo-home {
    padding: 30px 50px;
}


.row-finca {
    margin-bottom: 70px;
}

.info-finca, 
.info-cafe-jardin,
.info-cabanas,
.info-paquetes {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.celda-principal {
    padding: 0 50px;
    color: #272343;
    line-height: 1.5;
    height: 350px;
}

.celda-principal-cafe,
.celda-parque-nativo {
    padding: 0 70px;
}

.titulo-celda {
    margin: 50px 0 20px;
}

.titulo-intro {
    color: #272343;
    font-size: 35px;
    padding: 50px 50px 20px;
    text-align: center;
    text-transform: uppercase;
}

.info-intro {
    color: #272343;
    padding: 0 50px;
    line-height: 1.7;
    margin: 0;
}

.info-finca-grid {
    margin: 60px 0;
}

.portada-cafe-jardin,
.portada-cabanas,
.portada-paquetes {
    max-width: 100%;
    height: auto;
}

/* Café Jardin */

.row-cafe-jardin {
    margin-top: 50px;
}

.grid-cafe-jardin .col-carousel {
   padding: 0;
}

.celda-cafe-jardin {
    background-color: #272343;
    color: #bae8e8;
    line-height: 1.5;
    height: 400px;
    padding: 30px;
}

.subtitulo {
    color: #272343;
    font-size: 30px;
    padding: 40px 50px 20px;
}

.info-bold {
    font-weight: bold;
}

.enlace-reserva {
    color: #edffea;
    background-color: #272343;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin: 20px 50px 30px;
}

/* Alojamiento */

.grid-cabanas, .grid-paquetes {
    margin: 50px auto 20px auto;
}

.img-principal,
.celda-img-cabana, 
.celda-img-paquete {
    padding: 0;
}

.info-cabana {
    padding: 50px;
    background-color: #272343;
    height: 400px;
    width: 550px;
}

.info-cabana ul {
    color: #edffea;
    line-height: 1.5;
}

.info-cabana ul li:before, 
.info-paquete ul li:before {
    content: '\2013';
    position: absolute;
    margin-left: -20px;
}

.info-capacidad-precio {
    
    color: #edffea;
    line-height: 1.5;  
}

.galeria-container {
    margin-top: 20px;
}

.foto-galeria {
    padding: 10px;
}

/* Paquetes Vacacionales */

.info-paquete {
    color: #e3f6f5;
    padding: 50px;
    line-height: 1.5;
    background-color: #272343;
    height: 400px;
    width: 550px;
}

.image-container {
    display: flex;
    align-items: center;
    padding: 50px 0 60px 0;
}

.horarios {
    
    color: #272343;
    line-height: 2;
    padding: 0 150px 0 100px;
    list-style-type: circle;
}

/* Reservas y Consultas */

.container-form {
    width: 70%;
}

.label {
    padding-top: 10px;
}

.input-text {
    height: 50px;
    width: 915px;
    margin-bottom: 20px;
}

.input-tel {
    width: 350px;
}

.input-email {
    width: 521px;
}

.input-tel, 
.input-email {
    height: 50px;
    margin-bottom: 20px;
}

.textarea {
    width: 915px;
    padding: 15px;
}

.input-text, 
.input-tel,
.input-email {
    padding: 0 15px;
}

.btn-enviar, .home-link {
    padding: 10px;
    margin: 20px 0 40px;
    border: 1px solid #272343;
    border-radius: 3px;
    background-color: #bae8e8;
    color: #272343;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-enviar:hover, .home-link:hover, 
.btn-enviar:focus, .home-link:focus,
.btn-enviar:active, .home-link:active {
    background-color: #272343;
    color: #bae8e8;
    
}

.btn-enviar:hover:before, .home-link:hover:before, 
.btn-enviar:focus:before, .home-link:focus:before,
.btn-enviar:active:before, .home-link:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .row-reservas {
      padding-bottom: 70px;
  }

  .titulo-reservas {
      padding: 60px 0 50px;
  }

  .titulo-consultas {
      padding: 25px 0;
  }

  .fecha-container {
      position: relative;
  }

  .input-fecha {
      height: 50px;
      padding: 0 15px;
      width: 270px;
  }

  .btn-reserva {
    width: 275px;
    color: #272343;
    background-color: #bae8e8;
    border: 1px solid #272343;
    margin-top: 30px;
    text-transform: uppercase;
}

.btn-reserva:hover {
    background-color: #272343;
}


footer {
    background-image: linear-gradient(to top, #fff, #bae8e8);
    height: 270px;
    position: absolute;
    width: 100%;
}

.titulo-footer {
    text-align: center;
    padding: 30px 0;
    color: #272343;
    font-size: 30px;
    text-transform: uppercase;
}

.footer-telf,
.footer-ubicacion,
.footer-email,
.footer-redes {
    text-align: center;
}

.row-footer {
    margin-top: 40px;
}

.redes-icon {
    margin: 0 15px;
    color: #6f6e72;
    font-size: 2rem;
}

.redes-icon:hover {
    color: #272343;
    transition: 0.3s ease;
}

/* Radial Out */
.enlace-reserva {
    color: #272343;
    padding: 10px;
    border: 1px solid #bae8e8;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #bae8e8;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .enlace-reserva:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #272343;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .enlace-reserva:hover, 
  .enlace-reserva:focus, 
  .enlace-reserva:active {
    color: #bae8e8;
    text-decoration: none;
  }
  .enlace-reserva:hover:before, 
  .enlace-reserva:focus:before, 
  .enlace-reserva:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .sticky-class {
      height: 700px;
  }

  #not-found-page {
      text-align: center;
      margin-bottom: 100px;
      
  }

  .display-4 {
      padding: 95px 95px 50px;
  }

  .home-link {
      margin-bottom: 30px;
  }

  .home-link:hover {
     text-decoration: none;
  }

  .home-icon {
      padding-right: 10px;
  }

  #sticky-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 270px;
  }

  /* Media Queries */

@media (max-width: 989px) {
    .enlaces-menu li a {
        display: inline-block;
        color: #272343;
        text-transform: uppercase;
        vertical-align: middle;
        padding: 10px 20px;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
    
      .enlaces-menu li a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        top: 0;
        background: #272343;
        height: 1px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .enlaces-menu li a:hover:before, 
      .enlaces-menu li a:focus:before, 
      .enlaces-menu li a:active:before {
        left: 40%;
        right: 40%;
      }

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin-top: 20px;
    }

    .nav-link {
        width: 100%;
    }

    .enlaces-menu li span {
        border: none;
        font-weight: 500;
    }

    .img-herbolario {
      max-width: 100%;
      height: auto;
    }

    .carousel-caption h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: -25px;
    }

    .titulo-intro {
        font-size: 25px;
    }

    .subtitulo-home {
        font-size: 25px;
    }

    .info-finca {
        width: 100%;
    }

    .cards-home {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        text-align: center;
    }

    .cards-home .card {
        margin-bottom: 30px;
    }

    .card-text {
        font-size: 15px;
    }

    .info-intro {
        font-size: 1rem;
        width: 95%;
    }

    .celda-principal {
        margin-bottom: 30px;
    }

    .titulo-celda {
        font-size: 25px;
        text-align: center;
    }

    .celda-mirador {
        height: 200px;
    }

    .info-cafe-jardin,
    .info-cabanas,
    .info-paquetes {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    .celda-cafe-jardin {
        height: 300px;
        padding: 30px 60px 60px;
    }

    .titulo-cafe-jardin {
        font-size: 25px;
    }

    .container-enlace {
        text-align: center;
    }

    .enlace-reserva {
        width: 150px;
    }

    .grid-cabanas {
        width: 92%;
        margin-left: 25px;
    }

    .info-mirador {
        height: 500px;
    }

    .subtitulo {
        font-size: 25px;
    }

    .grid-paquetes {
        width: 95%;
    }

    .horarios {
        padding: 0 100px 0;
    }

    .container-form {
        width: 90%;
    }

    .col-reserva {
        margin-bottom: 30px;
    }

    .input-text,
    .input-tel,
    .input-email,
    .textarea,
    .input-fecha,
    .btn-reserva {
        width: 95%;
    }

    .display-4 {
        font-size: 25px;
    }

    footer {
        height: 320px;
    }

    .footer-telf, .footer-ubicacion {
        margin-bottom: 10px;
    }

}

  /*** Animaciones ***/
.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  /**********/

